html {
  font-family: sans-serif;
  font-size: max(3ch, 1ch + 1vw + 1vh);
  line-height: 1.618;
}

body { 
  margin: 1em;
  margin-bottom: 2em;
  overflow-wrap: anywhere;
}

article {
  contain: layout;
  display: block;
}

:focus { 
  outline: thick groove;
  box-shadow: 0 0 1em 1ch;
}

time {
  font-weight: normal;
}

cite {
  font-weight: bold; 
}

del {
  font-size: 0;
}

h1 {
  font-size: 2.618em;
}

h2,
ins {
  font-size: 1.618em;
}

.fleek {
  margin-block: 0;
}

@media (orientation: landscape) {
  body {
    margin-inline: 2em 1em;
  }
}
