html {
  font-family: sans-serif;
  font-size: 3ch;
  font-size: max(3ch, 1ch + 1vw + 1vh);
  line-height: 1.618;
}

body { 
  margin: 1em;
  margin-bottom: 2em;
}

article {
  padding: 1em;
  contain: layout;
  display: block;
  margin-block: 1em;
}

blockquote {
  margin: 1em auto;
  max-width: 40em;
}

:focus { 
  outline: thick groove;
  box-shadow: 0 0 1em 1ch;
}

time {
  font-weight: normal;
}

cite {
  font-weight: bold; 
}

span {
  font-weight: normal; 
}

del {
  font-size: 0;
}

ins {
  font-size: 1.618em;
}

nav {
  font-size: 1.236em;
}

h1 {
  font-size: 2.618em;
  line-height: 1.236;
}

h2 {
  font-size: 1.618em;
  margin: 0;
}

@media (orientation: landscape) {
  body { 
    margin-inline: 2em 1em;
  }
}
